@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.text-gradient {
    background: #0E3FC7;
    background: linear-gradient(to right, #0E3FC7 0%, #CF11C9 71%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}